<div>
<div class="jumbotron" style="background-color: rgb(142, 227, 248);">
        <h2 style="text-align: center;padding-top: 5%"><b>Login</b></h2>
        <p style="text-align: center"><b>Enter the registered E-mail address and the password!</b></p>
        <form action="">
          <div class="container">
            <p style="text-align: center;padding-bottom: 20px">
               <b>E-mail: </b><input type="text" name="email" placeholder="Confirm email address" email required style="padding-right: 60px;margin-left: 35px" ></p>
                </div>
           <div class="container">
            <p style="text-align: center"><b>
           Password: </b><input type="text" name="email" placeholder="Password" required style="padding-right: 60px;margin-left: 15px"> <br>
            <a class="btn btn-primary" style="margin-top: 20px" type="button" href="./assets/images/welcome.jpg"> <b>Login</b></a></p>          
          </div>
        
  
        </form>
  
    </div>
  
  
  
  </div>
